<!DOCTYPE html>
<html>
<head>
    <title>{{ animal.getName }}'s Website</title>
</head>
<body>
    <h1>Welcome to {{ animal.getName}}'s page</h1>
    <p>Animal Type: {{ animal.getType }}</p>
    <p>Gender: {{ animal.getGender }}</p>
    <p>Admit Date: {{ animal.getAdmitDate }}</p>
    <p>Breed: {{ animal.getBreed }}</p>

</body>

</html>
