<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>shelter database</title>
    </head>
    <body>
        <h2>Your Existing Animals</h2>
        <ul>
        {% for animal in animals %}
            <li><a href='/animal/{{ animal.getId }}'>{{ animal.getName }}</a>
            <form action='/delete-animal/{{ animal.getId }}' method='post'>
                <input name="_method" type='hidden' value="delete">
                <button type='submit'>Delete</button>
            </form></li>
        {% endfor %}
        </ul>
        <h2>Your Existing Types</h2>
        <ul>
        {% for type in types %}
            <li><a href='/type/{{ type.getId }}'>{{ type.getName }}</a></li>
        {% endfor %}
        </ul>
        <form class="" action="/add-animal" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" value="">
            <label for="gender">Gender</label>
            <input type="text" name="gender" value="">
            <label for="admit_date">Date Admitted</label>
            <input type="date" name="admit_date" value="">
            <label for="breed">Breed</label>
            <input type="text" name="breed" value="">
            <label for="type_id">Type</label>
            <select name="type_id">
            {% for type in types %}
                <option value = '{{type.getId}}'>{{type.getName}}</option>
            {% endfor %}
            </select>
            <button type="submit" name="button">Add Animal</button>
        </form>
        <form class="" action="/add-type" method="post">
            <label for="name">Type Name</label>
            <input type="text" name="name" value="">
            <button type="submit" name="button">Add Animal Type</button>

        </form>
    </body>
</html>
